@using MSensis.ViewModels
@model CompanyViewModel

<head>
    <link rel="stylesheet" href="~/css/form.css" />
</head>
<section class="content-header">
    <h1>
        Create Company
    </h1>
</section>
<br />

<!-- Main content -->
<section class="content container-fluid">



    <form class="form-horizontal" method="post" enctype="multipart/form-data" action="/Account/Create_Company">
        <div class="row">
            <div class="col-75">
                <div class="container">


                    <div class="row">
                        <div class="col-50">

                            <label for="fname"><i class="fa fa-user"></i>Name</label>
                            <input type="text" id="fname" name="Name">

                            <label for="email"><i class="fa fa-envelope"></i> Address</label>
                            <input type="text" id="email" name="Address" placeholder="address">

                            <label for="adr"><i class="fa fa-address-card-o"></i> City</label>
                            <input type="text" id="adr" name="City" placeholder="City">


                            <div class="row">
                                <div class="col-50">
                                    <label for="state">ΑΦΜ</label>
                                    <input type="number" id="state" name="Code" placeholder="">
                                </div>


                                <div class="col-50">
                                    <label for="Telephone"><i class="fa fa-mobile"></i> Telephone  </label>
                                    <input type="number" id="zip" name="TelephoneNumber" />
                                </div>
                            </div>
                        </div>
                        <br />
                        <br />

                        <div class="form-group">
                            <label for="inputImage3" class="col-sm-4 control-label">Company's Logo</label>
                            <div class="col-sm-8">

                                <input type="file" class="form-control" name="Company_Logo" >
                                
                            </div>   
                            
                        </div>



                    </div>

                </div>

            </div>
        </div>


        <div class="box-footer">
            <button class="btn btn-info pull-right" onclick="" history.go(-1); return false;">Back</button>
            <button type="submit" class="btn btn-info pull-right">Save</button>
        </div>

    </form>
</section>









