
@using MSensis.ViewModels;
@model ClientViewModel


@{
    ViewData["Title"] = "Delete";

}
<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-xs-12" id="Column">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Manage Pdf</h3>
                </div>
            </div>

            <br />

            <div class="dropdown">

                <div class="form-group">
                    <label for="periodOfMonths" class="col-sm-2 control-label">Search for Pdfs</label>
                    <select class="form-control" id="periodOfMonths">
                        <option value="1">Last Month</option>
                        <option value="3">Last 3 Months</option>
                        <option value="6">Last 6 Months</option>
                    </select>
                    <button type="submit" onclick="SendData()" id="getInvoices">Search </button>
                </div>

            </div>

            @*<button type="submit" onclick="SendData()">Search </button>*@
            <br />
        </div>


        <div id="partial">
            <partial name="_DataTable" />
        </div>
    </div>

</section>



<!-- page script -->
<script>
    $(function () {
        $('#example1').DataTable();
    });

    function Delete(id) {
         var r = confirm("Are you sure you want to Delete?");
         if (r == true) {
             debugger;
             $.ajax(
                 {
                     type: "POST",
                     url: '@Url.Action("Delete_Ιnvoice", "Home")',
                     data: {
                         id: id
                     },

                     error: function (result) {
                         alert("error");
                     },
                     success: function (result) {
                         if (result == true) {
                             var baseUrl = "/Home";
                             window.location.reload();
                         }
                         else {
                             alert("There is a problem, Try Later!");
                         }
                     }
                 });
         }
     }


    function SendData() {
        //var CategoryId = document.getElementById("CategoryId").value;

        //let data = {
        //    CategoryId: CategoryId
        //}
        //debugger;
        var period = document.getElementById("periodOfMonths").value;
        $.ajax({
            url: "/Home/GetDraftPdfs",
            data: { period: period },
            type: "POST",
            
            success: function (result) {
              
                console.log(result);
                var table = document.getElementById('example1');
                table.innerHTML = '';
                var html = '';
                html += '<table id="example1" class="table table-bordered table-striped"><thead><tr><th>Company</th><th>Client</th><th>Invoice Date</th><th> See document</th><th> Update Invoice</th><th> Delete Invoice</th><th> Issue Invoice</th></tr></thead >'
                $.each(result, function (i, item) {
                    html += '<tr><td>' + item.companyName + '</td><td>' + item.clientName + '</td><td>' + item.datetimeString + '</td><td><a asp-action="Pdf" asp-controller="Home" asp-route-id="' + item.pdfId + '">View <i class="fa fa-eye"></i></a> </td><td><a asp-action="Update_Invoice" asp-route-id="' + item.invoiceId + '">Update <i class="fa fa-edit"></i></a></td><td><a asp-action="Ιnvoice_del" asp-controller="MSensis" asp-route-id="' + item.invoiceId + '" data-toggle="tooltip" data-position="top" data-delay="50" data-tooltip="Download PDF"style="padding-right: 2px;">Delete Invoice<i class="fa fa-edit"></i></a></td><td><a asp-action="Issue_Invoice" asp-controller="MSensis" asp-route-id="' + item.invoiceId + '">Issue_Invoice <i class="fa fa-edit"></i></a></td></tr>'
                    
                })
                    $('#example1').append(html);
                         
               
            }
        });

    }

</script>

