@using MSensis.ViewModels;
@model ClientViewModel


<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-xs-12" id="Column">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Manage Issued Pdf</h3>
                </div>
                <br />
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="box-header">
            <div class="col-sm-10">
                <select class="form-control" id="SearchString" name="SearchString" AutoPostBack="true">
                    <option value="1"> One Month</option>
                    <option value="3"> Three Month</option>
                    <option value="6">Six Month</option>
                  
                </select>
                <button type="submit" class="btn btn-info pull-right" onclick="SendData()">Search</button>
            </div>
        </div>
    </div>
    <div id="partial">
        <partial name="_DataTable3" />
    </div>

</section>

<!-- page script -->
<script>
    $(function () {
        $('#example1').DataTable();
    });

    function Delete(id) {
         var r = confirm("Are you sure you want to Delete?");
         if (r == true) {
             debugger;
             $.ajax(
                 {
                     type: "POST",
                     url: '@Url.Action("Delete_Ιnvoice", "Home")',
                     data: {
                         id: id
                     },

                     error: function (result) {
                         alert("error");
                     },
                     success: function (result) {
                         if (result == true) {
                             var baseUrl = "/Home";
                             window.location.reload();
                         }
                         else {
                             alert("There is a problem, Try Later!");
                         }
                     }
                 });
         }
     }


</script>

<script>

    function SendData() {

        var SearchString = document.getElementById("SearchString").value;
        console.log(SearchString);

        let data = {
            SearchString: SearchString
        }

        $.ajax({
            url: "IssuedPdfs",
            type: "POST",
            data: data,
            cache: false,
            success: function (result) {
                $("#partial").html(result);
                console.log("i am here");
            }
        });
    }

</script>